.sombras {
    -webkit-box-shadow: -1px 10px 15px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 15px 3px rgba(0,0,0,0.75);
box-shadow: -1px 10px 15px 3px rgba(0,0,0,0.75);
}
.titulo_principal {
    font-size: 3.5rem;
    text-align: center;
}